@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}

.colorWeak {
  filter: invert(80%);
}


canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

.ant-pro-global-header {
  margin-top: 10px;
  -webkit-app-region: drag;
}
.ant-pro-sider-menu-logo {
  margin-top: 10px;
  -webkit-app-region: drag;
}
.ant-pro-sider-menu-sider{
  -webkit-app-region: drag;
}
.ant-pro-sider-menu {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
